In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [5]:
df1 = pd.read_excel('input/input.xlsx', header = [0,1])
df1 = df1.melt(id_vars = [('lemada', 't(min)')])
df1.columns = ['wave',  'temp', 'time', 'intensity']
df1

            wave temp time  intensity
0       599.8177   25    0    92.4064
1       601.7464   25    0    93.1177
2       603.6751   25    0    93.3507
3       605.6037   25    0    93.2874
4       607.5324   25    0    93.8345
...          ...  ...  ...        ...
61735  3992.3559  420  660    99.9956
61736  3994.2846  420  660    99.8334
61737  3996.2132  420  660    99.8121
61738  3998.1419  420  660    99.8471
61739  4000.0706  420  660    99.8816

[61740 rows x 4 columns]

In [8]:
df1.to_csv('input/processed_input.csv',index = None)